
.Post {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: var(--white);
}
    .Post > a {
        overflow: hidden;
    }
    .Post img {
        width: 100%; height: 100%;
        object-fit: cover;
        transition: all .4s ease;
    }
    .Post:hover img {
        transform: scale(1.05);
    }

.EditBtns {
    position: absolute;
    top: 15px; right: 15px;
    display: flex;
    z-index: 1;
}
    .EditBtns a {
        margin-left: 5px;
    }

.Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 40px;
}
