@import './reset';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    --red: #FF0000;
    --white: #FFF;
    --h5: #182345;
    --label: #B2B3BA;
    --input: #ADB5BD;
    --text: #848484;
    --footer: #C7CACE;
    padding-right: 0px !important;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}
