.Slider .slick-list {
    margin: 0 -15px;
    padding: 60px 0;
}
.Slider .slick-slide > div {
    padding: 0 15px;
}

.sl-container {
    position: relative;
    height: 450px;
    padding: 40px;
    background: var(--ms-bg);
    z-index: 1;
}
.sl-container:focus {
    outline: none;
}
    .sl-container div {
        width: 100%; height: 100%;
    }
    .sl-container h4 {
        min-height: 70px;
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        color: var(--h5);
    }
    .sl-container p {
        margin: 0;
        font-size: 20px;
        color: var(--text);
    }

.sl-bg {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
    .sl-bg div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 300px;
        color: var(--white);
    }

/* --------------------------------Media Queries----------------------------- */
@media (max-width: 1250px) and (min-width: 1200px),
       (max-width: 991px) and (min-width: 768px) {
    .Slider .slick-list {
        margin: 0 -5px;
    }
    .Slider .slick-slide > div {
        padding: 0 5px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .Slider .slick-slide > div {
        padding: 0 50px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .sl-container h4 {
        min-height: 50px;
    }
}
@media (max-width: 768px) {
    .sl-container h4 {
        min-height: 0;
    }
    .sl-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media (max-width: 460px) {
    .Slider .slick-list {
        margin: 0 -10px;
    }
    .Slider .slick-slide > div {
        padding: 0 10px;
    }
    .sl-container h4 {
        font-size: 24px;
    }
    .sl-container p {
        font-size: 18px;
    }
}
@media (max-width: 400px) {
    .sl-container h4 {
        font-size: 20px;
    }
    .sl-container p {
        font-size: 16px;
    }
}
