.MainSlider .slick-track:focus,
.MainSlider .slick-slide:focus,
.MainSlider .slick-slide > div:focus,
.MainSlide:focus {
    outline: none;
}

.MainSlide {
    position: relative;
    height: 100vh;
}

.MainSlide img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}


.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
}
    .Content h1 {
        max-width: 1200px;
        margin-top: 100px;
        padding: 0 16px;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: var(--white);
    	transition: all 0.3s ease;
    	transform: translateY(-20px);
    	opacity: 0;
    }
    .Content p {
        max-width: 1000px;
        margin-top: 10px;
        font-size: 24px;
        text-align: center;
        color: #B2B3BA;
    	transition: all 0.3s ease;
        transform: translateY(20px);
    	opacity: 0;
    }
    .Content div {
        transform: translateY(20px);
    	opacity: 0;
    }

/* ---------------------------- Slide animation ----------------------------- */
.slick-current .Content.animateIn h1,
.slick-current .Content.animateIn p,
.slick-current .Content.animateIn div {
    transform: translateX(0);
    opacity: 1;
}
.slick-current .Content.animateIn p {
    transition-delay: 0.2s;
}

.slick-current .Content.animateIn div {
	transition-delay: 0.4s;
}

.slick-current .Content.animateOut h1 {
    transition-delay: 0.3s;
}

.slick-current .Content.animateOut p {
    transition-delay: 0.2s;
}

.slick-current .Content div:hover,
.slick-current .Content.animateIn div {
    transition-delay: 0s;
}

/* ------------------------------Media Queries------------------------------- */
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}
@media (max-width: 460px) {

}
@media (max-width: 360px) {

}
