.slider {
    height: 780px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}
    .slide h1 {
        max-width: 1200px;
        padding: 0 16px;
        font-weight: 700;
        font-size: 48px;
    	transition: all 0.3s ease;
    	transform: translateY(-20px);
    	opacity: 0;
    }
    .slide p {
        max-width: 1200px;
        margin-top: 10px;
        font-size: 24px;
        color: #B2B3BA;
    	transition: all 0.3s ease;
        transform: translateY(20px);
    	opacity: 0;
    }
    .slide div {
        transform: translateY(20px);
        opacity: 0;
    }


.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p,
.slide.animateIn.previous div,
.slide.current div,
.slide.animateIn.next div {
    transform: translateX(0);
    transition-delay: 0.9s;
    opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
    transition-delay: 1.1s;
}

.slide.animateIn.previous div,
.slide.animateIn.next div {
	transition-delay: 1.3s;
}

.slide.animateOut h1 {
    transition-delay: 0.3s;
}

.slide.animateOut p {
    transition-delay: 0.2s;
}

.slide div:hover,
.slide.current div {
    transition-delay: 0s;
}
