.NewPost {
    background: var(--ms-bg);
}

.Header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: url('../../../../assets/images/bg-1-2.jpg') top center no-repeat;
    background-attachment: fixed;
}
    .Header::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #000;
        opacity: 0.7;
    }
    .Header h2 {
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-size: 60px;
        color: var(--red);
    }

.Form {
    padding: 70px 16px;
    max-width: 700px;
}
    .Form form {
        display: flex;
        flex-direction: column;
    }
    .Form label {
        margin-bottom: 0;
        text-transform: capitalize;
        color: var(--input);
    }
    .Form label + div {
        margin-bottom: 10px;
    }
    .Form input {
        width: 100%; height: 32px;
        padding: 0 5px;
        border: 1px solid var(--input);
        outline: none;
    }
    .Form textarea {
        width: 100%; height: 300px;
        padding: 5px;
        border: 1px solid var(--input);
        outline: none;
    }
    .Form input + div,
    .Form textarea + div {
        font-size: 12px;
        color: var(--red);
    }

.SubmitBtn {
    align-self: center;
    width: 200px; height: 40px;
    margin: 25px 0;
}
    .SubmitBtn button,
    .SubmitBtn > div {
        width: 100%; height: 100%;
        border: 2px solid var(--red);
    }
    .SubmitBtn button {
        padding: 0;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        background: none;
        color: var(--red);
        transition: all 0.3s ease;
    }
    .SubmitBtn > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .SubmitBtn button:hover {
        background: var(--red);
        color: var(--white);
    }
    .SubmitBtn button:focus {
        outline: none;
    }

.Msg {
    display: inline-block;
    min-height: 24px;
    margin-bottom: 10px;
    color: var(--red);
}
.Hide {
    opacity: 0;
    transition: all 0.3s ease;
}
.Show {
    opacity: 1;
}
