footer {
    background-color: #161827;
    background-image: url('../../assets/images/footer-map-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 16px;
}
footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6vw;
}

/* ------------------------------Media Queries------------------------------- */
@media (max-width: 1199px) {
    footer > div {
        grid-gap: 3vw;
    }
}
@media (max-width: 991px) {
    footer > div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 6vw;
    }
}
@media (max-width: 767px) {
    footer > div {
        display: block;
    }
}
@media (max-width: 575px) {
    footer {
        padding: 40px 10px;
    }
}
