footer {
    background-color: #161827;
    background-image: url('../../assets/images/footer-map-1-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 16px;
}
footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
}

/* -----------------------------------Logo------------------------------------*/
.Logo p {
    margin-top: 20px;
    text-align: justify;
    color: var(--footer);
}
.Logo > div {
    margin-top: 30px;
}
.Logo > div > a {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    color: var(--footer);
    transition: all 0.3s ease;
}
.Logo > div > a:hover {
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--red);
}
    .Logo > div > a span {
        margin-left: 10px;
        font-weight: 500;
    }
    .Logo a i {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
    }
.Logo ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
    .Logo ul li {
        margin: 0 10px;
    }
    .Logo ul a {
        display: inline-block;
        width: 60px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        color: var(--footer);
        transition: all 0.4s ease;
    }
    .Logo ul a:hover {
        background: var(--red);
        color: var(--white);
    }

/* ----------------------------------Services---------------------------------*/
.Services h2 {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 30px;
    color: var(--footer);
}
.Services a {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: var(--footer);
    transition: all 0.3s ease;
}
.Services a:hover {
    color: var(--red);
    transform: translateX(20px);
}
    .Services a i {
        padding-left: 10px;
        font-style: normal;
    }

/* ---------------------------------Articles----------------------------------*/
.Articles h2 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 30px;
    color: var(--footer);
}
.Articles div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.Articles a img {
    width: 100%; height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: all 0.3s ease;
}
.Articles a:hover img {
    filter: brightness(100%);
}
