header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 16px;
    transition: all 0.6s ease;
    z-index: 100;
}
header > div {
    display: flex;
    justify-content: space-between;
}
header.Fixed {
    position: fixed;
    top: 0; left: 0;
    padding: 5px 16px;
    background: var(--red);
}

.Logo {
    position: relative;
}
    header .Logo img {
        height: 150px;
    }
    header.Fixed .Logo img {
        height: 50px;
    }

.Hamburger {
    position: relative;
    display: none;
    margin-right: 44px;
    cursor: pointer;
    z-index: 1;
}
.Fixed .Hamburger {
    margin-right: 0;
}
    .Hamburger span {
        background: var(--red) !important;
    }
    .Fixed .Hamburger span {
        background: var(--white) !important;
    }
    .Hamburger + nav{
        display: block;
    }
    .Hamburger + nav + nav {
        display: none;
    }
    .Hamburger + nav ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    .Hamburger + nav ul a {
        position: relative;
        display: block;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--white);
        white-space: nowrap;
        transition: all 0.3s ease;
    }

.Fixed .Hamburger + nav ul {
    align-items: center;
}
    .Fixed .Hamburger + nav ul a {
        color: #182345;
    }

/* ---------------------------Menu Button Animation-------------------------- */
.Hamburger + nav ul a:hover {
    color: var(--red);
}
.Fixed .Hamburger + nav ul a:hover {
    color: var(--white);
}

.Hamburger + nav ul a::before,
.Hamburger + nav ul a::after,
.Fixed .Hamburger + nav ul a::before,
.Fixed .Hamburger + nav ul a::after {
    content: '';
    position: absolute;
    transition: inherit;
}
.Hamburger + nav ul a::before,
.Fixed .Hamburger + nav ul a::before {
    top: 0; left: 50%;
    width: 0;
    height: 100%;
}
.Hamburger + nav ul a::before {
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}
.Fixed .Hamburger + nav ul a::before {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}
.Hamburger + nav ul a::after,
.Fixed .Hamburger + nav ul a::after {
    top: 50%; left: 0;
    width: 100%;
    height: 0;
}
.Hamburger + nav ul a::after {
    border-left: 2px solid var(--red);
    border-right: 2px solid var(--red);
}
.Fixed .Hamburger + nav ul a::after {
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
}
.Hamburger + nav ul a:hover::before,
.Fixed .Hamburger + nav ul a:hover::before {
    left: 0;
    width: 100%;
}
.Hamburger + nav ul a:hover::after,
.Fixed .Hamburger + nav ul a:hover:after {
    top: 0;
    height: 100%;
}

/* ------------------------------Media Queries------------------------------- */
@media (max-width: 1199px) {
    .Hamburger + nav ul a {
        padding: 15px;
    }
}
@media (max-width: 1099px) {
    .Hamburger + nav ul a {
        padding: 15px 10px;
    }
}
@media (max-width: 991px) {
    header {
        padding: 16px;
    }
    header .Logo img {
        height: 100px;
    }
    header > div {
        align-items: center;
    }
    .Hamburger {
        display: block;
    }
    .Menu nav {
        position: fixed;
        top: 0; right: -100%;
        height: 100%;
        padding: 150px 0 30px 0;
        transition: all 0.4s ease;
    }
    .Fixed .Menu nav {
        padding: 60px 0 30px 0;
    }
    .Menu.Show nav {
        right: 0;
    }
    .Menu.Show .Hamburger span {
        background: var(--white) !important;
    }
    .Hamburger + nav{
        display: none;
    }
    .Hamburger + nav + nav {
        display: block;
        background: var(--red);
    }
    .Hamburger + nav + nav ul {
        flex-direction: column;
    }
    .Hamburger + nav + nav a {
        display: block;
        width: 250px;
        padding: 16px 32px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--white);
        transition: all 0.3s ease;
    }
    .Hamburger + nav + nav a:hover {
        background: var(--white);
        color: var(--red);
    }
}
@media (max-width: 767px) {
    .Hamburger {
        margin-right: 10px;
    }
}
@media (max-width: 575px) {
    header {
        padding: 10px;
    }
    header .Logo img {
        height: 80px;
    }
    header.Fixed {
        padding: 5px 10px;
    }
    .Menu nav {
        padding: 100px 0 30px 0;
    }
}
